<div class="header">
  <div class="navbar">
    <div class="dropdown">
      <button class="dropbtn">&#9776; Risk Mitigation Group, LLC</button>
      <div class="dropdown-content">
        <a href="/">Home</a>
        <a href="/terms-of-service">Terms of Service</a>
        <a href="/privacy-policy">Privacy Policy</a>
        <a href="/contact/">Contact us</a>
      </div>
    </div>
  </div>
</div>


<!--<img style="padding-top:10px" src="https://larsestrem.github.io/InsuranceReport/header-cropped.jpg"> -->
