<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/svg+xml" href="/imagesfavicon.svg">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{.Title}}</title>
  <meta name="description" content="{{ if .Params.description }}{{ .Params.description }}{{ end }}"/>
  <meta name="keywords" content="{{ if .Params.keywords }}{{ .Params.keywords }}{{ end }}"/>
  <link rel="canonical" href="{{ if .Params.canonical }}{{ .Params.canonical }}{{ end }}"/>
  {{ partial "css" . }}
  {{ partial "analytics" . }}

</head>
<body>
     {{ partial "header" .}}
     <div class="content">
       <div class="row">
         <div>
           <h1>{{.Title}}</h1>
          {{ if .Params.breadcrumb }}{{ .Params.breadcrumb }}{{ end }}
         </div>

       </div>
        <hr/>
        <div class="row">
          <div>
            <div>{{.Content}}</div>
          </div>

      </div> <!-- End content -->
     {{ partial "footer" . }}
   </div>
</body>
</html>
